*.suo
altplay.VC.db
*.user
altplay/altplay.vcxproj.filters
*.log
altplay/Debug/**
*.tlog
*.obj
*.ipdb
x64/Release/**
*.pdb
*.exe
*.iobj
*.ilk
*.opendb
*.idb
altplay/.idea/**
altplay/log.txt
altplay/CMakeFiles/**
altplay/CMakeCache.txt
altplay/cmake_install.cmake
altplay/altplay
