*.o
*.suo
altplay.VC.db
*.user
altplay/altplay.vcxproj.filters
*.log
altplay/Debug/**
*.tlog
*.obj
*.ipdb
x64/Release/**
*.pdb
*.exe
*.iobj
*.ilk
*.opendb
*.idb
altplay/.idea/**
altplay/log.txt
b/CMakeFiles/**
b/CMakeCache.txt
b/cmake_install.cmake
b/altplay
b/cppcheck.cppcheck
b/Makefile
